.frame {
    width: 1250px;
    height: 555px;
    margin: 130px auto;
    box-sizing: content-box;
    border-radius: 1.5px;
    border: 7.0px solid black;
    flex-wrap: wrap;




}

.product {
    text-align: center;
    font-size: 35px;
    font-family: tahoma, sans-serif;
    font-weight: 550;
    padding-top: 25px;
    padding-bottom: 26px;
    background-color: rgb(244, 249, 249);


}

.pricing {
    font-weight: 850;
    font-size: 29px;
    ;
    font-family: Verdana;
    padding: 2px 90px 0px 420px;
    color: rgb(32, 30, 30)
}

.description {
    padding: 0px 400px 5px 420px;
    font-size: 26px;
    font-family: arial, sans-serif;
    color: rgb(63, 55, 55);

}

.link {
    padding: 0px 400px 40px 420px;
    font-size: 25px;
    font-family: arial, sans-serif;
    color: rgb(63, 55, 55);

    text-decoration: underline;
}

.center {
    display: inline;
    float: center;
}

span {
    font-size: 20px;
    float: right;
    padding-right: 46.3%;
    padding-top: 7px;
    color: grey;
    font-weight: 900;
}


img {
    height: 2%;
    width: 29.5%;
    display: flex;
    float: left;



}


button {


    width: 100%;
    height: 20%;
    padding: 26px;
    font-size: 33px;
    background: black;
    border: 2px solid black;
    color: rgb(205, 202, 202);


}

.box {
    background-color: rgb(25, 25, 25);
    width: 39px;
    height: 39px;
}

.box1 {
    background-color: rgb(60, 50, 244);
    width: 39px;
    height: 39px;
}

.box2 {
    background-color: rgb(221, 37, 37);
    width: 39px;
    height: 39px;
}

.box3 {
    background-color: rgba(194, 194, 20, 0.974);
    width: 39px;
    height: 39px;
}

.box4 {
    background-color: rgb(85, 188, 70);
    width: 39px;
    height: 39px;
}

.box5 {
    background-color: rgb(124, 64, 64);
    width: 39px;
    height: 39px;
}

.coloroption {
    display: inline-flex;
    padding: 8px 50px 0px;
}